{
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 120,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
